/* Attribute Selectors ------------- */

form[class="form-contact"] {
  padding: 20px 24px;
  background: #f4f7f8;
}

div[id="container"]  {
  max-width: 500px;
  margin: auto;
}

/* Attribute Selectors ------------- */

.form-contact {
  padding: 20px 24px;
  background: #f4f7f8;
}

#container  {
  max-width: 500px;
  margin: auto;
}

.btn {
  cursor: pointer;
  font-size: .875em;
  font-weight: 400;
  color: #fff;
  padding-left: 20px;
  padding-right: 20px;
  text-transform: uppercase;
}

/* DRY Classes ------------- */

.br {
  border-radius: 0.5em;
}

.avatar {
  display: block;
  margin: 0 auto 1em;
  width:220px;
  height:220px;
  object-fit: cover;
}

.rounded {
  border-radius: 50%;
}

.btn:hover {
  opacity: .75;
}

.default {
  background-color: #52bab3;
}

.error {
  background-color: #ff784f;
}
